<% if(user.services.research == true){ %>
	<% if(!user.widgets.country){ %>
		<form action="./country" method="post">
			<div class="widget">
				<div id="widget-text">
					<h2>Country Widget</h2>
					<p>Enter a country</p>
					<input id="search" name="search" type="text" placeholder="Enter a country">
					<select id="refresh" name="refresh" required>
						<option>5 minutes</option>
						<option>10 minutes</option>
						<option>30 minutes</option>
						<option>1 hour</option>
						<option>3 hours</option>
					</select>
					<input type="submit" class="first-button" value="Search!" />
				</div>
			</div>
		</form>
	<% } else { %>
		<div class="widget">
			<form action="./country" method="post">
				<button class="btn"><i class="fa fa-close"></i></button>
			</form>
			<form action="./country" method="post">
				<div id="widget-text">
					<% if (!user.country) { %>
						<h2>Country Widget</h2>
						<p>Enter a country</p>
					<% } else if (user.country && user.country.search && !user.country.name) { %>
						Search: <%= user.country.search %>
						<br> Sorry but we Found Nothing
					<% } else if (user.country && user.country.name) { %>
						<h2><%= user.country.name %></h2>
						<p style="border-style: dashed;"> <svg width="100" height="100">
							<image href="<%= user.country.flag %>" width="100" height="100"/>
						</svg></p>
						<br>Capital: <%= user.country.capital %>
						<br>Population: <%= user.country.population %>
						<br>Currency: <%= user.country.currencyName %> (<b><%= user.country.currencyCode %></b>)
						<% } %>
					<input id="search" name="search" type="text" placeholder="Enter a country">
					<input type="submit" class="first-button" value="Search!" />
				</div>
			</form>
		</div>
	<% } %>
<% } %>
