<% if(user.services.stock == true){ %>
    <% if(!user.widgets.stock){ %>
        <form action="./stock" method="post">
            <div class="widget">
                <div id="widget-text">
                    <h2>Stock Widget</h2>
                    <p><br>Select a company</p>
                    <input id="company" name="company" type="text"
                                placeholder="Enter company">
                    <select id="refresh" name="refresh" required>
                            <option>5 minutes</option>
                            <option>10 minutes</option>
                            <option>30 minutes</option>
                            <option>1 hour</option>
                            <option>3 hours</option>
                    </select>
                    <input type="submit" class="first-button" value="Add channel" />
                </div>
            </div>
        </form>
    <% } else { %>
        <div class="widget">
            <form action="./stock" method="post">
                <button class="btn"><i class="fa fa-close"></i></button>
            </form>
            <form action="./stock" method="post">
                <div id="widget-text">
                    <% if(!user.stock || !user.stock.company){ %>
                        <h2>Stock Widget</h2>
                    <p><br>Select a company to get the stocks from</p>
                    <% }%>
                    <% if(user.stock && user.stock.company){ %>
                        <h2><%= user.stock.company %></h2>
                            <br> Date: <%= user.stock.date %>
                            <br> TimeZone: <%= user.stock.timeZone %>
                            <br> Open: <%= user.stock.open %>
                            <br> High: <%= user.stock.high %>
                            <br> Low: <%= user.stock.low %>
                            <br> Close: <%= user.stock.close %>
                            <br> Volume: <%= user.stock.volume %>
                            <p>Want to see the stocks in another company ?</p>
                        <% }%>
                    <input id="company" name="company" type="text" placeholder="Enter company">
                    <input type="submit" class="first-button" value="Get Stocks!" />
                </div>
            </form>
        </div>
    <% }%>
<% }%>
